body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background: url('646d4bb79ff76f75b218a08a_listicles-tech-image-large.jpg') no-repeat center center fixed;
     /* Prevents the image from repeating */
}

*{
    font-family: sans-serif;
    box-sizing: border-box;
    
}

form{
    width: 500px;
    border: 2px solid black;
    padding: 30px;
    background: #fff;
    border-radius: 25px;
    

}
h2{
    text-align: center;
    margin-bottom: 40px;
}

input{
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 25px;
}

label{
    color: #888;
    font-size: 18px;
    padding: 10px;
}

button{
    float: right;
    background: #555;
    padding:10px 15px;
    color: #fff;
    border-radius: 25px;
    margin-right: 10px;
    
}

button:hover{
    opacity: .7;
}

.error{
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;

}

.success{
    background: #D4EDDA;
    color: #40754C;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;

}

h1{
    text-align: center;
    color:#ffffff;
}

.ca {
    font-size: 14px;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #444;
}

.ca:hover{
    text-decoration: underline;
}

header {
    display: flex;
    align-items: start;
}

.top-right {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: right;
    display: flex;
    align-items: center;
    gap: 10px;
}

hr {
    position: absolute;
    top: 70px; /* Ajuste conforme necessário para posicionar abaixo do conteúdo */
    width: 100%;
    border: 0;
    height: 1px;
    background: #000; /* Cor da linha */
    margin: 0;
    gap: 10px;
}

.big-button1 {
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: #000000;
    color: white;
    text-align: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    line-height: 150px;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.big-button1:hover {
    background-color: #525252;
}

.big-button2 {
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: #000000;
    color: white;
    text-align: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    line-height: 150px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    margin: 10px;
}

.big-button2:hover {
    background-color: #525252;
}

.big-button3 {
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: #000000;
    color: white;
    text-align: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    line-height: 150px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    margin: 10px;
}

.big-button3:hover {
    background-color: #525252;
}

.big-button {
    display: flex; /* Use Flexbox for the container */
    gap: 5px; /* Add space between buttons */
    align-items: center; /* Center buttons vertically */
    justify-content: flex-start; /* Align buttons to the start */
    
}

a:hover{
    color: rgb(0, 0, 0);
}

a {
    color: #ff0000;
}

.b-log{
    border-radius: 5;
    background-color: rgb(255, 255, 255);
}